@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
    .bg-#{$key} {
        background-color: $val;
    }

    //light-dark variations
    @for $index from 1 to 9 {
        .text-#{$key}-light-#{$index} {
            color: mix(white, $val, $index * 10);
        }
        .bg-#{$key}-light-#{$index} {
            background-color: mix(white, $val, $index * 10);
        }

        .text-#{$key}-dark-#{$index} {
            color: mix(black, $val, $index * 10);
        }
        .bg-#{$key}-dark-#{$index} {
            background-color: mix(black, $val, $index * 10);
        }
    }
}
