@use "sass:math";

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    border-radius: math.div($base-border-radius, 4);
    box-shadow: $base-box-shadow;

    .card-title {
        font-size: $base-font-size;
        font-weight: bold;
        padding-bottom: $base-padding;
    }

    .card-body {
        font-size: $base-font-size;

        a {
            text-decoration: underline;
        }
    }
}

// @debug "rua1hc-debug";
// @debug math.div(10, 3);
// @debug math.floor(2.9);
